@import '../node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: 'Manrope';
  src: url(../src/assets/fonts/Manrope-VariableFont_wght.ttf) format('ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url(../src/assets/fonts/Poppins-Bold.ttf) format('ttf');
  font-weight: 700;
}

/* Custom scroll */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f5935680;
}

::-webkit-scrollbar-thumb {
  background-color: #f5935680;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f59256;
  border-radius: 5px;
}
